*.png
*.jpg
*.pyc
*.txt
*.o
*.pt
*.pth
*.tar
*.zip
*.egg
*.so
*.log
*.ninja*
*.xz
*.csv
*.pkl
*.gz
*.onnx
*.out
*INFO*
*LICENSE*
*.npy
*__pycache__/
*_rz_sb_mar*/
*_bn_sb_mar_*/
*dataset*/
./AbsRel_depth/data_list/
